@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto fit-content(20px);
}

ul {
    list-style: none;
    float: right;
    margin-top: 15px;
}

ul li {
    display: inline;
}

ul li a {
    color: #fff;
    padding: 15px;
}

ul li a:hover {
    color: #fff
}

header {
    background-color: #41c7c7;
    display: grid;
    grid-template-columns: fit-content(40%) auto;
}

.logo {
    padding: 15px;
    margin-left: 15px;
    background-color: #f3f1c7;
    color: #298383;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    cursor: default;
}

section.hero {
    background-color: #36adad;
    padding: 2em;
    border-top: 5px solid #2ea0a0;
}

section.hero h1 {
    text-transform: uppercase;
    color: #fffbc5;
}

.gameList {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

img {
    max-width: 100%;
    background-size: cover;
    margin: 0 auto;
}

.main {
    grid-template-rows: 51px fit-content(30%);
    display: grid;
}

footer {
    background: lightgrey;
    text-align: center;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.gameEntry {
    color: #fff;
    height: 50px;
}
.gameEntry:hover {
    color: #fff;
}
