<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="main">
    <header>
        <h6 class="logo"><%= title %></h6>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/games">Games</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <h1>Board Game Browser</h1>
        <div class="gameList">
            <% for(const game of games) { %>
                <a href="/games/<%=game.id%>" class="gameEntry">
                    <%=game.name%>
                </a>
            <%}%>
        </div>
    </section>

</div>
<footer>
    <h6>Game data sourced from <a href="https://boardgamegeek.com">boardgamegeek</a></h6>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>